@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111111;
  cursor: cell;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c;
}

::selection {
  color: rgb(0, 0, 0);
  background: #fed7aa;
}